.login-main {
  margin-top: 10%;
}
mat-card {
  min-width: 33%;
}
.mat-mdc-card-title {
    color: #3F51B5;
    margin: 5px 0px 5px 0px;
    font-weight: bold;
}
.mat-mdc-raised-button.mat-primary {
    --mdc-protected-button-container-color: #3F51B5;
}
.mat-icon {
  color: white;
}
mat-card-actions a {
  text-decoration: none;
  color: #007bff; /* Change this to the desired link color */
  display: flex;
  align-items: center;
}
a .mat-icon{
  color: #007bff;
}
mat-card-actions button {
  margin-left: auto;
}