<form [formGroup]="loginForm">
  <div fxLayout="row" fxLayoutAlign="center center" class="login-main">
    <mat-card>
      <div>
        <mat-card-title style="text-align: center">LogIn</mat-card-title>
      </div>
      <mat-card-content fxLayout="column">
        <mat-form-field>
          <mat-icon matPrefix>email</mat-icon>
          <input
            matInput
            placeholder="Enter your email"
            formControlName="email"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-icon matPrefix>lock_outline</mat-icon>
          <input
            type="password"
            matInput
            placeholder="Enter your password"
            formControlName="password"
          />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <a href=""><mat-icon>assignment_return</mat-icon></a>
        <button
          mat-raised-button
          color="primary"
          [disabled]="loginForm.invalid"
          (click)="login()"
        >
          LogIn
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</form>
