form{
  margin-bottom: 30%;
  overflow: hidden;
}
.login-main {
  margin-top: 7.3%;
}
mat-card {
  min-width: 50%;
  display: flex;
  margin-top: -5%;
  background-color: #000;
}
.mat-mdc-card-title {
  color: #F2D16B;
  margin: 5px 0px 5px 0px;
  font-weight: bold;
}
.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: #F2D16B;
}

mat-card-actions a {
  text-decoration: none;
  color: #007bff; /* Change this to the desired link color */
  display: flex;
  align-items: center;
}
a .mat-icon{
  color: #007bff;
}
mat-card-actions button {
  margin-left: auto;
}
.mat-icon {
  color: white;
}