.mat-drawer-container{
    background-color: #F2D16B;
}
.mat-drawer{
    background-color: #000000;
}
h1{
    margin:2px 10px 2px 10px;
}
mat-nav-list mat-list-item a {
    color: #fff;
    text-decoration: none; 
}
mat-nav-list mat-list-item:hover {
    background-color: #F2D16B; 
}
